* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #111;
    color: white;
}

.h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    transition: 0.3s;
}

.main {
    height: 60vh;
    background: linear-gradient(135deg, #1a1a1a, #333);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #00bfff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.products {
    padding: 60px 50px;
    text-align: center;
}

.product-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.card button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background: #111;
    color: white;
    cursor: pointer;
}

.information {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;
}

.info {
    background: white;
    padding: 25px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}